body {
    font-family: Arial, sans-serif;
    background-image: url(https://images.pexels.com/photos/65433/pexels-photo-65433.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    height: 100vh;
}

h1 {
    text-align: center;
}